* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}
#fontApply{

}
.material-symbols-outlined {
  font-size: 100px;
}

/* Stylling the nav bar  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 12px 0;
  /* border: 2px solid rebeccapurple; */
}
.left-nav {
  display: flex;
  gap: 15px;
  margin-left: 30px;
  align-items: center;
}
.menuIcon img {
  width: 30px;
}
.youTubeIcon img {
  width: 120px;
}
.left-nav span {
  margin-right: 10px;
}
#search-bar {
  border: 1px solid #cdcccd;
  width: 528px;
  height: 42px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 30px;
}
#search-button img {
  width: 40%;
  position: relative;
  bottom: 6px;
}
#search-button {
  background-color: #f1f1f0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding: 20px 4px 1px 8px;
  position: relative;
  right: 3px;

}
.center-nav{
  display: flex;
  align-items: center;
}
.micIcon img{
  width: 28px;
  margin-left: 4px;
}

.right-nav {
  display: flex;
  gap: 12px;
  margin-right: 31px;
}
.right-nav>div img{
  width: 30px;
}
/* Main Content style form here  */
.main-container {
  display: flex;
}
/* Styling side menu  */

.side-menu {
  display: flex;
  flex-direction: column;
  width: 12vw;
  gap: 10px;

  margin: 5px 10px;
  padding-top: 4px;
}
.side-menu-items {
  display: flex;
  gap: 13px;
  padding: 0px 24px;
  height: 30px;
  align-items: center;
}
.side-menu-items:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
}
/* Styling quick search bar  */
.content-container {
  display: flex;
  flex-direction: column;
}
.quick-search {
}
.quick-search button {
  padding: 7px 16px;
  border: none;
  border-radius: 6px;
}
.quick-search button:hover {
  background-color: black;
  color: white;
}

/* Styling the main contents  */

.video-card-container {
  display: flex;
  gap: 7px;
  flex-wrap: wrap;

  margin-top: 11px;
}

/* Stylilng the video card  */
.video-card {
  width: 310px;
  border-radius: 12px;
  border: 2px solid red;
}
#thumbnail {
  width: 100%;
  border-radius: 12px;
}
.video-description {
  display: flex;
  margin-top: 6px;
  gap: 4px;
}
.dur {
  display: flex;
  justify-content: space-between;
}
