* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Roboto', sans-serif;
}
.disable-button:hover{
  cursor: not-allowed;
}
.clickable-content:hover{
  cursor: pointer;
}


/* Stylling the nav bar  */
.nav-container {
  display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
    z-index: 1;
    padding: 10px 0px;
}

.left-nav {
  display: flex;
  gap: 15px;
  margin-left: 30px;
  align-items: center;
}
.menuIcon img {
  width: 30px;
}
.youTubeIcon img {
  width: 120px;
}
.left-nav span {
  margin-right: 10px;
}
#search-bar {
  border: 1px solid #cdcccd;
  width: 528px;
  height: 42px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding-left: 30px;
}
#search-button img {
  width: 40%;
  position: relative;
  bottom: 6px;
}
#search-button {
  background-color: #f1f1f0;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border: none;
  padding: 9px 4px;
  width: 26px;
  padding-right: 17px;
  padding-left: 11px;

}
.center-nav{
  display: flex;
  align-items: center;
}
.micIcon img{
  width: 28px;
  margin-left: 4px;
}

.right-nav {
  display: flex;
  gap: 12px;
  margin-right: 31px;
}
.right-nav>div img{
  width: 30px;
}
/* Main Content style form here  */
.main-container {
  display: flex;
  margin-top: 65px;
}
/* Styling side menu  */

.side-menu {
  display: flex;
  flex-direction: column;
  width: 12vw;
  gap: 10px;

  margin: 5px 10px;
  padding-top: 4px;
}
.side-menu-items {
  display: flex;
  gap: 24px;
  padding: 0px 24px;
  height: 30px;
  align-items: center;
  font-size: 14px;
}
.Icon>img{
  width: 20px;
}
#homeIconItem{
  background-color: #f2f2f2;
  border-radius: 10px;
  font-weight: bold;
}
.side-menu-items:hover {
  background-color: #f2f2f2;
  border-radius: 10px;
}
/* Styling quick search bar  */
.content-container {
  display: flex;
  flex-direction: column;
}
#quick-search{
  max-height: 30px;
  overflow: hidden;
}

#quick-search button {
  padding: 7px 16px;
  border: none;
  border-radius: 6px;
  margin-right: 5px;
  /* overflow-x: scroll; */
}
.quick-search button:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  
}

/* Styling the main contents  */

.video-card-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  column-gap: 13px;
  row-gap: 23px;
}

/* Stylilng the video card  */
.video-card {
  width: 310px;
  border-radius: 12px;
  
}
.channel-icon img {
  width: 40px;
  border-radius: 50%;
}
#thumbnail {
  width: 100%;
  height: 190px;
  border-radius: 16px;
}
#video-time{
  float: right;
  position: relative;
  bottom: 31px;
  right: 4px;
  color: white;
  background-color: black;
  border-radius: 6px;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 4px;
}
.title-anchor{
  text-decoration: none;
  color: black;
}
.video-description {
  display: flex;
  margin-top: 6px;
  gap: 4px;
  align-items: center;
}
#title-video{
  font-weight: bolder;

}
.channel-name p, .dur p{
  font-size: 14px;
  color: #727372;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
}
.dur {
  display: flex;
  gap: 16px;
  margin-left: 40px;
}
.channel-name{
  margin-left: 40px;
  
}

#thumbnail:hover{
  border-radius: 0px;
  transition-timing-function: ease-in;
  transition-duration: 200ms;
  transform: scale(1.01);
}
.footerDetails{
  font-weight: bold;
  font-size: 12px ;
  margin: 12px 0px;
}
.footerDetails p{
  display: inline;
  margin-right: 10px;
}
.copy{
  color: #727372;
  font-family: 'Nunito', sans-serif;
}
.footer-for-mobile{
  display: flex;
  justify-content: space-around;
  background-color: white;
  border: 2px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer-for-mobile img{
  width: 40px;

}

/* Adding media queris for responsive desing  */
/* for mobile  */
@media (width<=400px){
  .body{
    margin: 0;
    padding: 0;
    margin-left: 30px;
  }
  .menuIcon , .videoCamIcon, .notificationIcon, .micIcon,.sidebar{
    display: none;
  }
  #search-bar{
    width: 100px;
    height: 20px;
  }
  .youTubeIcon a img{
    width: 80px;
  }
  #search-button{
    width: 14px;
    padding: 5px 5px 5px 5px;
  }
  .video-card-container{
    margin: auto;
  }
  .quick-search{
    max-height: 100px;
    overflow: hidden;
  }
 
  
}